<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.blacksw.mapper.BoardMapper">

<sql id="search">
 <if test="searchType != null" > 
   <if test="searchType == 't'.toString()">
     and title like CONCAT('%', #{keyword}, '%')
   </if>
   <if test="searchType == 'w'.toString()">
     and writer like CONCAT('%', #{keyword}, '%')
   </if>     
   <if test="searchType == 'tw'.toString()">
     and ( title like CONCAT('%', #{keyword}, '%') OR writer like CONCAT('%', #{keyword}, '%'))
   </if>                    
 </if>  
</sql>

<select id="getList" resultType="BoardDTO">
<![CDATA[  
  select * 
  from tbl_board 
  where bno > 0 
]]>  

  <include refid="search"></include>
  
<![CDATA[    
  order by bno desc
  limit #{skip}, 10
]]>  
</select>
  
<select id="getTotal" resultType="int">
<![CDATA[  
  select count(bno) 
  from tbl_board 
  where bno > 0 
]]>
  <include refid="search"></include>
 
</select> 



</mapper> 

